<h2 class="mb-3">Inventory Dashboard</h2>
<div class="row g-3">
  <div class="col-lg-4">
    <div class="card"><div class="card-body"><h6>Stock Health</h6>
      <canvas baseChart [data]="stockHealthData" chartType="doughnut"></canvas>
    </div></div>
  </div>
  <div class="col-lg-8">
    <div class="card"><div class="card-body"><h6>Quantities</h6>
      <canvas baseChart [data]="quantitiesData" chartType="bar"></canvas>
    </div></div>
  </div>
  <div class="col-lg-12">
    <div class="card"><div class="card-body"><h6>Reorders Needed</h6>
      <canvas baseChart [data]="reordersData" chartType="bar"></canvas>
    </div></div>
  </div>
